<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.base.test.dao.IBizSystemDao">

    <resultMap id="BizSystem" type="com.base.test.dao.model.BizSystem">
        <result property="id" column="id"/>
        <result property="number" column="number"/>
        <result property="name" column="name"/>
        <result property="owner" column="owner"/>
        <result property="ownerContact" column="owner_contact"/>
        <result property="port" column="port"/>
        <result property="httpPort" column="http_port"/>
        <result property="description" column="description"/>
        <result property="productId" column="product_id"/>
        <result property="zk" column="zk"/>
        <result property="dimension" column="dimension"/>
        <result property="domain" column="domain"/>
        <result property="product" column="product"/>
    </resultMap>

    <sql id="columns">
        <![CDATA[
    `id`,`number`,`name`,`owner`,`owner_contact`,`port`,`http_port`,`description`,`product_id`,`zk`,`dimension`,`domain`,`product`
        ]]>
    </sql>


    <sql id="multiColumns">
        <![CDATA[
    t.`id`,t.`number`,t.`name`,t.`owner`,t.`owner_contact`,t.`port`,t.`http_port`,t.`description`,t.`product_id`,t.`zk`,t.`dimension`,t.`domain`,t.`product`
        ]]>
    </sql>

    <insert id="insert">
        <![CDATA[
        INSERT INTO biz_system (
        `id` ,
        `number` ,
        `name` ,
        `owner` ,
        `owner_contact` ,
        `port` ,
        `http_port` ,
        `description` ,
        `product_id` ,
        `zk` ,
        `dimension` ,
        `domain` ,
        `product` 
        ) VALUES (
        #{id} ,
        #{number} ,
        #{name} ,
        #{owner} ,
        #{ownerContact} ,
        #{port} ,
        #{httpPort} ,
        #{description} ,
        #{productId} ,
        #{zk} ,
        #{dimension} ,
        #{domain} ,
        #{product} 
        )
        ]]>

    </insert>


    <!-- 按条件更新 -->
    <update id="update">
        UPDATE biz_system
        <set>
            <if test="@Ognl@isNotEmpty(owner)">
            owner = #{owner},
            </if>
            <if test="@Ognl@isNotEmpty(ownerContact)">
            owner_contact = #{ownerContact},
            </if>
            <if test="@Ognl@isNotEmpty(port)">
            port = #{port},
            </if>
            <if test="@Ognl@isNotEmpty(description)">
            description = #{description},
            </if>
            <if test="@Ognl@isNotEmpty(productId)">
            product_id = #{productId},
            </if>
            <if test="@Ognl@isNotEmpty(domain)">
            domain = #{domain}
            </if>
        </set>
        WHERE
        id = #{id}
    </update>


    <delete id="delete">
        <![CDATA[
        DELETE FROM biz_system WHERE
        `id` = #{id} 
        ]]>
    </delete>


    <select id="getById" resultMap="BizSystem">
        SELECT
        <include refid="columns"/>
        <![CDATA[
        FROM biz_system
        WHERE
        `id` = #{id} 
        ]]>
    </select>

    <sql id="findPage_where">
        <where>
                <if test="@Ognl@isNotEmpty(id)">
                    AND t.`id` = #{id}
                </if>
                <if test="@Ognl@isNotEmpty(number)">
                    AND t.`number` = #{number}
                </if>
                <if test="@Ognl@isNotEmpty(name)">
                    AND t.`name` = #{name}
                </if>
                <if test="@Ognl@isNotEmpty(owner)">
                    AND t.`owner` = #{owner}
                </if>
                <if test="@Ognl@isNotEmpty(ownerContact)">
                    AND t.`owner_contact` = #{ownerContact}
                </if>
                <if test="@Ognl@isNotEmpty(port)">
                    AND t.`port` = #{port}
                </if>
                <if test="@Ognl@isNotEmpty(httpPort)">
                    AND t.`http_port` = #{httpPort}
                </if>
                <if test="@Ognl@isNotEmpty(description)">
                    AND t.`description` = #{description}
                </if>
                <if test="@Ognl@isNotEmpty(productId)">
                    AND t.`product_id` = #{productId}
                </if>
                <if test="@Ognl@isNotEmpty(zk)">
                    AND t.`zk` = #{zk}
                </if>
                <if test="@Ognl@isNotEmpty(dimension)">
                    AND t.`dimension` = #{dimension}
                </if>
                <if test="@Ognl@isNotEmpty(domain)">
                    AND t.`domain` = #{domain}
                </if>
                <if test="@Ognl@isNotEmpty(product)">
                    AND t.`product` = #{product}
                </if>
        </where>
    </sql>





    <select id="findPage_count" resultType="long">
        SELECT count(*) FROM biz_system t
        <include refid="findPage_where"/>
    </select>

    <select id="findPage" resultMap="BizSystem">
        SELECT
        <include refid="multiColumns"/>
        FROM biz_system t
        <include refid="findPage_where"/>

        <if test="@Ognl@isNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>

</mapper>

